.OrgBanner {
  width: 100%;
  height: 400px;
  background-color: #eef7ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.OrglistSearch,
.ProjectListBanner {
  margin: 36px 0 20px;
  text-align: center;
  .ant-input-search {
    width: 600px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #b7b7e5;
  }

  .ant-input-affix-wrapper {
    height: 58px;
    border: none;

    input {
      font-size: 20px;
    }
  }

  .ant-input-search-button {
    height: 58px;
    border: none;

    .action-search {
      line-height: 70px;
    }

    svg {
      width: 1.5em;
      height: 1.5em;
    }
  }
}

.OrgTab {
  width: 100%;
  height: 64px;
  background-color: #3742b9;
  text-align: center;
  position: relative;
}

.OrgTab {
  // background: #ebeef2;
  background-color: #4268fd;
}

.Org {
  position: relative;
  background-color: #d8dff1;
  width: 100%;
  height: 100%;
  display: block;
  min-height: calc(~'100vh - 100px');
  .OrgBanner {
    width: 100%;
    height: 400px;
    background-color: #eef7ff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 64px 0 45px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .OrgBannerTitle {
      font-weight: normal;
      font-stretch: normal;
      color: #000;
      font-size: 50px;
      position: relative;
      left: 13%;
      font-family: SourceHanSansCN-Bold;
      line-height: 40px;
      letter-spacing: 0px;
    }
    .OrgTextOne {
      position: relative;
      font-size: 2.4rem;
      line-height: 5rem;
      left: 13%;
      color: #333;
      font-family: MicrosoftYaHei;
    }
    .OrgTextBtn {
      height: 5rem;
      border-radius: 12px;
      border: solid 1px #4268fd;
      line-height: 5rem;
      text-align: center;
      position: relative;
      left: 13%;
      &:hover {
        cursor: pointer;
      }
      span {
        font-family: MicrosoftYaHei;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #5f8cfe;
        &:hover {
          color: #1339d1;
        }
      }
    }
  }
}

.OrgTabWrapper {
  position: relative;
}

.OrgTabItem {
  line-height: 64px;
  height: 100%;
  background-color: #4268fd;
  // background: #ebeef2;
  color: #fff;
  position: relative;
  padding: 0 25px;

  font-family: MicrosoftYaHei-Bold;
  font-size: 24px;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s;
}

.Org {
  background: #f1f1f3;
  display: flex;
  flex-direction: column;
}

.activeTab.OrgTabItem {
  background-color: #80c9ff;
  color: #fff;
}

.OrglistSearch,
.ProjectListBanner {
  .ant-input-search {
    height: 62px !important;
    border-radius: 6px !important;
    border: 2px solid rgba(0, 0, 0, 0.1) !important;
  }
}

.OrglistSearch .ant-input-affix-wrapper input {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px !important;
}

.OrglistBannerTotal {
  color: #000;
  font-size: 20px !important;
}

.OrglistBanner .italic {
  color: #000;
  font-style: normal;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .OrgBanner {
    .OrgBannerTitle {
      font-size: 4rem !important;
    }
    .OrgTextOne {
      font-size: 2rem !important;
    }
    .OrgTextBtn {
      // width: 16rem !important;
      span {
        font-size: 2rem !important;
      }
    }
  }
}

@media screen and (min-width: 100px) and (max-width: 800px) {
  .OrglistSearch,
  .ProjectListBanner {
    .ant-input-search {
      height: 44px !important;
      font-size: 14px;
    }
  }
  .en {
    .OrgTextBtn {
      width: 20rem !important;
    }
  }
  .OrgBanner {
    height: 350px;
    .OrgBannerTitle {
      font-size: 20px !important;
    }
    .OrgTextOne {
      width: 85vw;
      font-size: 1.6rem !important;
    }
    .OrgTextBtn {
      // width: 12rem !important;
      height: 4rem !important;
      line-height: 4rem !important;
      span {
        font-size: 1.6rem !important;
      }
    }
  }
  .OrgTextOne {
    font-size: 20px;
  }
  .OrgTab {
    height: 36px;
  }
  .Org .OrgTabItem {
    line-height: 36px;
  }
  .OrglistBannerTotal {
    font-size: 14px !important;
  }
  .OrglistBanner .italic {
    font-size: 14px;
  }
}
