.datas{
    position: relative;
    background-color: #f6f7f8;
    .datas_header{
        width: 100%;
        height: 400px;
        background-image: url('../../img/index/banner3.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        display: block;
        margin-bottom: 40px;
    }
    .datas_content_show{
        width: 1200px;
        position: relative;
        margin: 0 auto;
        .pro_data,.stu_data,.org_data{
            width:100%;
            padding: 23px;
            margin-bottom:40px;
            background-color: #fff;
            .pro_data_title,.stu_data_title,.org_data_title{
                width: 100%;
                height: 30px;
                font-family: MicrosoftYaHei;
                font-size: 30px;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 2px;
                color: #333333;
            }
            .pro_data_bar1,.pro_data_bar2,.stu_data_bar2{
                height:530px;
                width:100%;
                position: relative;
                .echarts-for-react {
                    width:100%;
                    height:490px !important;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            .pro_data_divide{
                height:1px;
                width:100%;
                background-color: #eaeaea;
            }
            .pro_data_bar2title{
                width: 100%;
                height: 18px;
                font-family: AdobeHeitiStd-Regular;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 1px;
                color: #666666;
                margin-top:30px;
            }
          
        }
        .stu_data,.org_data{
            .stu_data_title,.org_data_title{
                margin-bottom: 40px;
            }
            .stu_data_des,.org_data_des{
                width: 100%;
                height: 300px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                .stu_data_desItem,.org_data_desItem{
                    width: 350px;
                    height: 120px;
                    background-color: #eef7ff;
                    position: relative;
                    .stu_data_desInfo,.org_data_desInfo{
                        width:100%;
                        position: absolute;
                        top:50%;
                        transform: translate(0,-50%);
                        padding-left: 10%;
                        .stu_data_desItem_key,.org_data_desItem_key{
                            height: 18px;
                            font-family: MicrosoftYaHei;
                            font-size: 18px;
                            line-height: 18px;
                            font-weight: normal;
                            font-stretch: normal;
                            letter-spacing: 1px;
                            color: #666666;
                            margin-bottom:15px;
                        }
                        .stu_data_desItem_val,.org_data_desItem_val{
                            height: 40px;
                            font-family: MicrosoftYaHei;
                            line-height: 40px;
                            font-size: 36px;
                            font-weight: normal;
                            font-stretch: normal;
                            letter-spacing: 3px;
                            color: #4171ff;
                            .stu_data_unit{
                                line-height: 40px;
                                height: 40px;
                                vertical-align: middle;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            .stu_data_bar2_title{
                height: 18px;
                font-family: AdobeHeitiStd-Regular;
                font-size: 18px;
                letter-spacing: 1px;
                color: #666666;
                text-align: center;
            }
        }
    }
}